* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header stuff */
/* header stuff */

header {
    background-color: #1c1c1c;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    color: white;
    width: 100%; 
    position: fixed;
    z-index: 2; 
}
.logo {
    width: 75px;
}
.logo img {
    width: 100%;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-items: center;
}
nav ul li a {
    text-decoration: none;
    color: #fdffd8;
    font-size: 18px;
    font-weight: 500;
}

/* header stuff */
/* header stuff */

/* main stuff */
main {
    padding: 100px 20px;
    gap: 20px;
    justify-content: center;
    background-image: url('images/The-Yellow-Rabbit.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.wip {
    background-color: #fdffd8 ;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.6;
    width: 100%;
}
.wip:hover {
    opacity: 0.9;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin: 20px auto 20px auto;
    max-width: 800px;
    min-width: 375px;
    gap: 10px;
    justify-content: space-evenly;
}
.box {
    width: auto;
    height: auto;
    background-color: #fdffd8 ;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.6;
}
.box:hover {
    opacity: 0.9;
}
.Yellow {
    color: #ae8b00;
}
footer {
    background-color: #1c1c1c;
    color: #fdffd8;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.Fuck {
    background-color: #fdffd8 ;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
    width: 100%;
}
.Button {
    text-decoration: none; 
    padding: 10px 20px; 
    background-color: #ae8b00; 
    color: #fefdd8; 
    border-radius: 5px; 
    text-align: center;
}
